<a href="https://colab.research.google.com/github/dondreojordan/DS-Unit-2-Applied-Modeling/blob/master/module2-wrangle-ml-datasets/LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

...have you completed? 
....have all questions in each assignment been addressed in your project? ... (ONLY AFTER COMPLETE) have you gone above and beyond on the notebook?:

1.   [ ] Module One: Define ML Problems
2.   [ ] Module Two: Wrangle ML Datasets
3.   [ ] Module Three: Permulation & Boosting
4.   [ ] Module Four: Model Interpretation

#**About this Dataset**

**Context**
Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests?

This hotel booking dataset can help you explore those questions!

**Content**
This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

***All personally identifying information has been removed from the data.***

**Acknowledgements**
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.

**Inspiration**
This data set is ideal for anyone looking to practice their exploratory data analysis (EDA) or get started in building predictive models!

If you're looking for inspiration on data visualizations, check out the #TidyTuesday program, a free, weekly online event that encourages participants to create and share their code and visualizations for a given data set on Twitter.

If you'd like to dive into predictive modeling, Julia Silge has an accessible and fantastic walk-through which highlights the tidymodels R package.


#**Objective:** To predict the best time of year to book a hotel room.

back-up data set: https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset?select=IMDb+ratings.csv

**if all else fails in the galaxy...**

#**Table of content:**
**Problem Type:** Regression. (May turn into a Classification Problem)

*Target: Arrival Date ('arrival_date')*

1.   arrival_date
Column created with feature engineering.

*Features:*

**Column Description**
1.   Hotel (H1 = Resort Hotel or H2 = City Hotel).

2.   is_canceled
Value indicating if the booking was canceled (1) or not (0).

3.   lead_time 
Number of days that elapsed between the entering date of the booking into the PMS and the arrival date.

4.   arrival_date_year
Year of arrival date.

5.   arrival_date_month
Month of arrival date.

6.   arrival_date_week_number
Week number of year for arrival date.

7.   arrival_date_day_of_month
Day of arrival date.

8.   stays_in_weekend_nights
Number of weekend nights (Saturday or Sunday) the guest stayed or booked.

9.   stays_in_week_nights
Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel.

10.  adults
Number of adults.

11.  children
Number of children.

12.  babies
Number of babies.

13.  meal
Type of meal booked. Categories are presented in standard hospitality meal packages: Undefined/SC – no meal.

14.   country
Country of origin. Categories are represented in the ISO 3155–3:2013 format.

15.   market_segment
Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”.

16.   distribution_channel
Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”.

17.   is_repeated_guest
Value indicating if the booking name was from a repeated guest (1) or not (0).

18.   previous_cancellations
Number of previous bookings that were cancelled by the customer prior to the current booking.

19.   previous_bookings_not_canceled
Number of previous bookings not cancelled by the customer prior to the current booking.

20.   reserved_room_type
Code of room type reserved. Code is presented instead of designation for anonymity reasons.

21.   assigned_room_type
Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due.

22.   booking_changes
Number of changes/amendments made to the booking from the moment the booking was entered on the PMS.

23.   deposit_type
Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories: _____________________Fill.

24.   agent
ID of the travel agency that made the booking.

25.   company
ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for.

26.   days_in_waiting_list
Number of days the booking was in the waiting list before it was confirmed to the customer.

27.   customer_type
Type of booking, assuming one of four categories: Contract - when the booking has an allotment or other type of

28.   adr
Average Daily Rate as defined by dividing the sum of all lodging transactions by the total number of staying nights.

29.   required_car_parking_spaces
Number of car parking spaces required by the customer.

30.   total_of_special_requests
Number of special requests made by the customer (e.g. twin bed or high floor).

31.   reservation_status
Reservation last status, assuming one of three categories: Canceled – booking was canceled by the customer; Check-Out.

32. reservation_status_date
Date at which the last status was set. This variable can be used in conjunction with the ReservationStatus to _______________________fill


#**[ ] Machine Learning Roadmap**

1. Data Preprocessing
```
    Importing Dataset
    32-Feature Anaylsis (Or features valuable to project)
    Descriptive Statistical Analysis
    Descriptive Statistical Visualisation Analysis
    Visualisation Each Attribute Using Seaborn
```
2. Feature Engineering
```
    Imputation or Data Cleaning
    Label Encoder
    OneHotEncoder
    Handling Outliers
    Converting Imbalance Dataset to Balanced Dataset
    Binning
    Log Transformation
    Feature Scaling
    Feature Split
```
3. Feature Selection
```
    Univariate Selection
    Feature Importance
    Correlation Matrix With HeatMap
    Principal Component Analysis (PCA)
    Discrimenent Component Analysis (DCA)
    Any other learned objective to best serve the model
```
4. Model Selection
```
    Model Selection Using Spot Check and Compare Algorithms Without Feature Scaling
    Model Selection Using Spot Check and Compare Algorithms With Feature Scaling
    Regularization Hyper Parameter Tunning For ___________________
    Ensemble Algorithms ( possible Bagging and Boosting Algorithms)
    Regularization Hyper Parameter Tunning For _________________
    Regularization Hyper Parameter Tunning For _________________
    Regularization Hyper Parameter Tunning For _________________
    Regularization Hyper Parameter Tunning For _________________
    Algorithm For __________________________
```
5. Conclusion
```
    Report Findings.
```

<img src="https://image.slidesharecdn.com/becomingadatascientistadvice-pydatadc-shared-161012184823/95/becoming-a-data-scientist-advice-from-my-podcast-guests-55-638.jpg?cb=1476298295">

#1. Data Preprocessing

###Import Data

In [1]:
# About this file
# This data set contains a single file which compares various booking information between two hotels: a city hotel and a resort hotel.

In [1]:
import warnings
warnings.simplefilter('ignore')

!pip install category_encoders==2.*
!pip install chart_studio

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.0.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: chart_studio in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)

In [2]:
from google.colab import files
uploaded = files.upload()

Saving hotel_bookings.csv to hotel_bookings (2).csv

###Import Classes

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sb
import numpy as np
import pandas as pd
import chart_studio.plotly as py
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import cufflinks as cf
cf.go_offline()

from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA
from pandas_profiling import ProfileReport
import plotly.express as px
#from category_encoder import OneHotEncoder, OrdinalEncoder #Don't need since you installed !pip
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split, cross_val_predict


#Please Organize classes!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [4]:
# Import Data Set

#pd.options.display.max_columns = None
dataset = pd.read_csv("hotel_bookings.csv")
hotels = dataset.copy() #Acting as main df

In [ ]:
# Variable Check (dataset and hotels)

In [5]:
#print(dataset.shape)
#dataset
print("Hotel Data Set Shape:",hotels.shape)
hotels

Hotel Data Set Shape: (119390, 32)

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]

In [ ]:
print('Dataset is imported under the copied dataframe called "hotels".') 
print('Dataframe contains 119390 rows and 32 columns.')
print('From a quick, there are various data types, dates, and NaN values that will need to be addressed.')

Dataset is imported under the copied dataframe called "hotels".
Dataframe contains 119390 rows and 32 columns.
From a quick, there are various data types, dates, and NaN values that will need to be addressed.

In [ ]:
# pct of cells with missing values out of all cells
total_cells = np.product(hotels.shape)
total_missing_values = hotels.isnull().sum().sum()
pct_missing = (total_missing_values / total_cells * 100)
print("Percentage of cells with null-values: {0:.1f}%".format(pct_missing))

Percentage of cells with null-values: 3.4%

In [ ]:
# A total percent of null values present in column.
# Asks question: Of what percent are missing values in each column?
null_percentage = hotels.isnull().sum() / len(hotels) * 100
null_percentage.sort_values(ascending=False)

company                           94.306893
agent                             13.686238
country                            0.408744
children                           0.003350
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
is_canceled                        0.000000
market_segment                     0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
babies                             0.000000
meal                               0.000000
reservation_status_date            0.000000
distribution_channel               0.000000
reservation_status                 0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
hotel                              0.000000
dtype: float64

In [ ]:
# All Null Values in dataset in order of amount present. 
# Four columns that will need to be addressed. 
hotels.isnull().sum().sort_values(ascending=False)

company                           112593
agent                              16340
country                              488
children                               4
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
is_canceled                            0
market_segment                         0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
babies                                 0
meal                                   0
reservation_status_date                0
distribution_channel                   0
reservation_status                     0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
hotel                                  0
dtype: int64

In [ ]:
#Get a better look at the data
hotels.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

####Questions??

In [ ]:
#Why is children a float?
hotels['children'].unique().tolist()

[0.0, 1.0, 2.0, 10.0, 3.0, nan]

In [ ]:
# How many null values exist in children?
hotels['children'].isnull().sum()

4

In [ ]:
# How many null values exist in country?
hotels['country'].isnull().sum()

488

In [ ]:
#Why is agent a float?
hotels['agent'].nunique()

333

In [ ]:
# How many null values exist in company?
hotels['company'].isnull().sum()

112593

In [ ]:
# How many unique values are in the column company?
hotels['company'].nunique()

352

###.info() summary

In [ ]:
# Explore from Top to bottom.

print('The column "hotels" is a dataframe with 119,390 rows (guest check-ins) and a total of 32 columns (features).')
print('Missing values are in columns "children", "country", "agent", and "company".')
print('Percentage of cells with null-values: 3.4%')
print('The columns arrival_date_year, arrival_date_month, arrival_date_day_of_month \nneed to have one column created, "arrival_date", to be used as the index column.')
print('The column"children" contains the object float with 5 unique values and 4 null values. This will need to be addressed.') 
print('The column "country" contains 488 null values. Further analysis required.')
print('The column "agent" is a float with 333 unique values.')
print('The column "company" contains 112,593 null values and 352 uniques values. Further anaylsis required. Potential to drop column.')
print('The predictor column is an object data type.')
print('There are a quite few categorical variables that will need to be either labeled or encoded.')
print('See _____________________________ section in Table of Contents for more anaylsis on columns missing values.')

The column "hotels" is a dataframe with 119,390 rows (guest check-ins) and a total of 32 columns (features).
Missing values are in columns "children", "country", "agent", and "company".
Percentage of cells with null-values: 3.4%
The columns arrival_date_year, arrival_date_month, arrival_date_day_of_month
need to have one column created, "arrival_date", to be used as the index column.
The column"children" contains the object float with 5 unique values and 4 null values. This will need to be addressed.
The column "country" contains 488 null values. Further analysis required.
The column "agent" is a float with 333 unique values.
The column "company" contains 112,593 null values and 352 uniques values. Further anaylsis required. Potential to drop column.
The predictor column is an object data type.
There are a quite few categorical variables that will need to be either labeled or encoded.
See _____________________________ section in Table of Contents for more anaylsis on columns missing values.

##Choose Your Target
Which column in your tabular dataset will you predict?

In [8]:
# Target, or predictor, is the new column "arrival date"
# Column is a regression problem

#Could classify based on time of the year????? Summer, Fall, Winter, Spring?????????????????/

Take some time to convert the column to datetime format.

In [38]:
# convert the months (str) into numeric format (int) in order to convert into date time format (year, month and date)
df = hotels.copy()
df.replace({'January': 1,
                'February':2,
                'March':3,
                'April':4,
                'May':5,
                'June':6,
                'July':7,
                'August':8,
                'September':9,
                'October':10,
                'November':11,
                'December':12
}, inplace=True)

In [39]:
import datetime 

df['arrival_date'] = df.apply(lambda x: datetime.date(x['arrival_date_year'], x['arrival_date_month'], x['arrival_date_day_of_month']), axis=1)
#Create column 'arrival_date' from arrival features
df['arrival_date'] = pd.to_datetime(df['arrival_date'] , infer_datetime_format=True)

# Define Target
target = 'arrival_date'
y = df[target]
# X = df.drop(target, axis=1) # Should I add inplace=True?????????????


df.drop(columns=[#target,
                 #'arrival_date_year', #Need year for train/val/test split
                 'arrival_date_month',
                 'arrival_date_day_of_month'
], axis=1, inplace=True)
#Convert 'arrival_date' into datetime format.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_week_number        119390 non-null  int64
 5   stays_in_weekend_nights         119390 non-null  int64
 6   stays_in_week_nights            119390 non-null  int64
 7   adults                          119390 non-null  int64
 8   children                        119386 non-null  float64
 9   babies                          119390 non-null  int64
 10  meal                            119390 non-null  object
 11  country                         118902 non-null  object
 12  market_segment                  119390 non-null  object
 13  distribution_channel            119390 non-null  object
 14  is_repeated_guest               119390 non-null  int64
 15  previous_cancellations          119390 non-null  int64
 16  previous_bookings_not_canceled  119390 non-null  int64
 17  reserved_room_type              119390 non-null  object
 18  assigned_room_type              119390 non-null  object
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
 29  reservation_status_date         119390 non-null  object
 30  arrival_date                    119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(15), object(11)
memory usage: 28.2+ MB

In [166]:
#X.info()

In [ ]:
y

In [168]:
# How many missing values in the target?
y.isnull().sum()

0

In [8]:
y.head()

0   2015-07-01
1   2015-07-01
2   2015-07-01
3   2015-07-01
4   2015-07-01
Name: arrival_date, dtype: datetime64[ns]

In [170]:
# How many unique values in the target?
y.nunique()

793

In [171]:
# What is the data type of the target?
print(type(y))
print(y.dtype)

<class 'pandas.core.series.Series'>
datetime64[ns]

In [172]:
print('The target, or predictor, is the target "reservation_status_date.')
print('The target contains 119,390 rows, 0 null values, 793 unique values.')
print('Additionally, the target is a series type and object data type and \nhas not been converted to datetime format.')

The target, or predictor, is the target "reservation_status_date.
The target contains 119,390 rows, 0 null values, 793 unique values.
Additionally, the target is a series type and object data type and
has not been converted to datetime format.

In [173]:
# How is the target distributed?
y.value_counts()

2015-12-05    448
2016-11-07    366
2015-10-16    356
2016-10-13    344
2015-09-18    340
             ...
2015-12-15     29
2015-11-15     28
2015-12-07     27
2015-11-29     20
2015-12-13     19
Name: arrival_date, Length: 793, dtype: int64

In [174]:
print('The target is distributed over 793 values.')

The target is distributed over 793 values.

Graph the distibution of the target ONLY.

In [175]:
#sns.distplot(hotels.reservation_status_date, hist=False, rug=True, bins=50)

###How is your target distributed?
In other words, is your problem regression/classification?


*   Classification: how many classes? imbalanced of balanced?
*   Regression: Is the target right-skewed? If so, youn may wanna log transform the target.

In [176]:
# What questions should you be asking yourself (in place of the stakeholder) from the 1st glance???????????

###Descriptive Statistical Anaylsis

Numeric

In [177]:
hotels.describe().transpose()

                                   count         mean  ...     75%     max
is_canceled                     119390.0     0.370416  ...     1.0     1.0
lead_time                       119390.0   104.011416  ...   160.0   737.0
arrival_date_year               119390.0  2016.156554  ...  2017.0  2017.0
arrival_date_week_number        119390.0    27.165173  ...    38.0    53.0
arrival_date_day_of_month       119390.0    15.798241  ...    23.0    31.0
stays_in_weekend_nights         119390.0     0.927599  ...     2.0    19.0
stays_in_week_nights            119390.0     2.500302  ...     3.0    50.0
adults                          119390.0     1.856403  ...     2.0    55.0
children                        119386.0     0.103890  ...     0.0    10.0
babies                          119390.0     0.007949  ...     0.0    10.0
is_repeated_guest               119390.0     0.031912  ...     0.0     1.0
previous_cancellations          119390.0     0.087118  ...     0.0    26.0
previous_bookings_not_canceled  119390.0     0.137097  ...     0.0    72.0
booking_changes                 119390.0     0.221124  ...     0.0    21.0
agent                           103050.0    86.693382  ...   229.0   535.0
company                           6797.0   189.266735  ...   270.0   543.0
days_in_waiting_list            119390.0     2.321149  ...     0.0   391.0
adr                             119390.0   101.831122  ...   126.0  5400.0
required_car_parking_spaces     119390.0     0.062518  ...     0.0     8.0
total_of_special_requests       119390.0     0.571363  ...     1.0     5.0

[20 rows x 8 columns]

Visuals

In [178]:
df.hist(layout=(5,5),bins=25,figsize=(25,25),sharex=False,sharey=False,grid=True)
plt.show();

In [179]:
df.plot(kind='density',subplots=True,layout=(5,5),figsize=(25,25),grid=True,use_index=False,sharex=False,sharey=False);

UFuncTypeError: ignored

In [ ]:
# Hotel
sb.distplot(df['company'],bins=5,hist=True,norm_hist=True,vertical=False,label='Hotel')
plt.legend();


#Change or Delete. DO NOT LEAVE HERE. #############

Non-numeric features

https://statisticsbyjim.com/basics/histograms/

In [ ]:
df.describe(exclude='number').transpose()

In [ ]:
df['hotel'].unique()

In [ ]:
g = sns.catplot(x='df', col='customer_type', kind='count', data=hotels);
g.fig.set_figwidth(10)
g.fig.set_figheight(10)

#2. Feature Engineering

Feature Engineering vs Feature Selection: https://innovation.alteryx.com/feature-engineering-vs-feature-selection/

    Feature engineering is the process of using domain knowledge to extract new variables from raw data that make machine learning algorithms work.

##Choose Features

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_week_number        119390 non-null  int64
 5   stays_in_weekend_nights         119390 non-null  int64
 6   stays_in_week_nights            119390 non-null  int64
 7   adults                          119390 non-null  int64
 8   children                        119386 non-null  float64
 9   babies                          119390 non-null  int64
 10  meal                            119390 non-null  object
 11  country                         118902 non-null  object
 12  market_segment                  119390 non-null  object
 13  distribution_channel            119390 non-null  object
 14  is_repeated_guest               119390 non-null  int64
 15  previous_cancellations          119390 non-null  int64
 16  previous_bookings_not_canceled  119390 non-null  int64
 17  reserved_room_type              119390 non-null  object
 18  assigned_room_type              119390 non-null  object
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
 29  reservation_status_date         119390 non-null  object
 30  arrival_date                    119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(15), object(11)
memory usage: 28.2+ MB

In [41]:
#Create Columns

df['total_nights_stay'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']
df['total_guests'] = df['adults'] + df['children'] + df['babies']
df['total_guests'].replace({np.NaN:0}, inplace=True)
total_guests = df['total_guests'].astype(int)
print('Total Guest dtype: ', total_guests.dtypes)

# df['spring'] = df[''] + df['']
# df['summer'] = df[''] + df['']
# df['fall'] = df[''] + df['']
# df['winter'] = df[''] + df['']

#df.rename(columns = {'': ''}, inplace = True)
#df.rename(columns = {'': ''}, inplace = True)
df.rename(columns = {'adr': 'price_per_person'}, inplace = True)
df.rename(columns = {'required_car_parking_spaces': 'parking_space'}, inplace = True)


#Drop column to reduce data leakage
df.drop(columns=['arrival_date_week_number', 
                 'children',
                 'adults',
                 'babies',
                 'agent',
                 'stays_in_week_nights',
                 'stays_in_weekend_nights',
                 'company'], 
                 axis=1, inplace=True)

Total Guest dtype:  int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   meal                            119390 non-null  object
 5   country                         118902 non-null  object
 6   market_segment                  119390 non-null  object
 7   distribution_channel            119390 non-null  object
 8   is_repeated_guest               119390 non-null  int64
 9   previous_cancellations          119390 non-null  int64
 10  previous_bookings_not_canceled  119390 non-null  int64
 11  reserved_room_type              119390 non-null  object
 12  assigned_room_type              119390 non-null  object
 13  booking_changes                 119390 non-null  int64
 14  deposit_type                    119390 non-null  object
 15  agent                           103050 non-null  float64
 16  days_in_waiting_list            119390 non-null  int64
 17  customer_type                   119390 non-null  object
 18  price_per_person                119390 non-null  float64
 19  parking_space                   119390 non-null  int64
 20  total_of_special_requests       119390 non-null  int64
 21  reservation_status              119390 non-null  object
 22  reservation_status_date         119390 non-null  object
 23  arrival_date                    119390 non-null  datetime64[ns]
 24  total_nights_stay               119390 non-null  int64
 25  total_guests                    119390 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(11), object(11)
memory usage: 23.7+ MB

#3. Feature Selection

    For any given dataset, many possible features can be chosen. A crucial point to consider is which features to use. There are an infinite number of transformations possible. Enter feature selection.

In [ ]:
# Which columns need to be removed to prevent data leakage?
# Are there any other features that off-the-bat will not be used?

#Train, Validate, Test Set

In [44]:
# Train == 2015
train = df[df['arrival_date_year'] ==2015]
print("Training Set Shape:", train.shape)

Training Set Shape: (21996, 26)

In [45]:
# Validate == 2016  
val = df[df['arrival_date_year'] ==2016]
print("Validation Set Shape:", val.shape)

Validation Set Shape: (56707, 26)

In [46]:
# Test == 2017
test = df[df['arrival_date_year'] ==2017]
print("Testing Set Shape:", test.shape)

Testing Set Shape: (40687, 26)

In [31]:
# #Drop 'arrival_date_year'
# X = df.drop('arrival_date_year', axis=1)
# X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   meal                            119390 non-null  object
 4   country                         118902 non-null  object
 5   market_segment                  119390 non-null  object
 6   distribution_channel            119390 non-null  object
 7   is_repeated_guest               119390 non-null  int64
 8   previous_cancellations          119390 non-null  int64
 9   previous_bookings_not_canceled  119390 non-null  int64
 10  reserved_room_type              119390 non-null  object
 11  assigned_room_type              119390 non-null  object
 12  booking_changes                 119390 non-null  int64
 13  deposit_type                    119390 non-null  object
 14  agent                           103050 non-null  float64
 15  days_in_waiting_list            119390 non-null  int64
 16  customer_type                   119390 non-null  object
 17  price_per_person                119390 non-null  float64
 18  parking_space                   119390 non-null  int64
 19  total_of_special_requests       119390 non-null  int64
 20  reservation_status              119390 non-null  object
 21  reservation_status_date         119390 non-null  object
 22  total_nights_stay               119390 non-null  int64
 23  total_guests                    119390 non-null  float64
dtypes: float64(3), int64(10), object(11)
memory usage: 21.9+ MB

#4. Model Selection

Sample Model

    # Build our pipeline
    model = Pipeline([
                  ('imputer', SimpleImputer()),
                  ('classifier', RandomForestClassifier())
    ])

    # Train our model
    model.fit(X_train, y_train)

    # Check our metrics
    print('Training Accuracy Score', model.score(X_train, y_train))
    print('Validation Accuracy Score', model.score(X_val, y_val))

    print(classification_report(y_val, model.predict(X_val)))

In [37]:
target

'arrival_date'

In [49]:

features = ['hotel', 'is_canceled', 'lead_time', 'meal', 'country',
       'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'booking_changes',
       'deposit_type', 'days_in_waiting_list', 'customer_type',
       'price_per_person', 'parking_space', 'total_of_special_requests',
       'total_nights_stay', 'total_guests']

#Drop 'arrival_date_year'
X = df.drop(['arrival_date_year'], axis=1)
X.info()

# Arrange data into X features matrix and y target vector 
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

print('X_train:', X_train.shape)
print('y_train:', y_train.shape)
print('X_val:', X_val.shape)
print('y_val:', y_val.shape)
print('X_test:', X_test.shape)
print('y_test:', y_test.shape)

X_train: (21996, 22)
y_train: (21996,)
X_val: (56707, 22)
y_val: (56707,)
X_test: (40687, 22)
y_test: (40687,)

# Avoid leakage of information from test to train or from target to features

#Do One-Hot Encoding

In [50]:
from category_encoders import OneHotEncoder


encoder = OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_test_encoded = encoder.transform(X_test)

In [51]:
X_train_encoded.head()

   hotel_Resort Hotel  hotel_City Hotel  ...  total_nights_stay  total_guests
0                   1                 0  ...                  0           2.0
1                   1                 0  ...                  0           2.0
2                   1                 0  ...                  1           1.0
3                   1                 0  ...                  1           1.0
4                   1                 0  ...                  2           2.0

[5 rows x 158 columns]

In [60]:
X_train_encoded.head()

agent                 3099
country_ISR              0
country_ZAF              0
country_TUR              0
country_LTU              0
                      ...
country_PAN              0
country_IRQ              0
country_MMR              0
country_LIE              0
hotel_Resort Hotel       0
Length: 158, dtype: int64

In [52]:
X_val_encoded.head()

      hotel_Resort Hotel  hotel_City Hotel  ...  total_nights_stay  total_guests
3738                   1                 0  ...                  1           2.0
3739                   1                 0  ...                  1           4.0
3740                   1                 0  ...                  1           2.0
3741                   1                 0  ...                  2           2.0
3742                   1                 0  ...                  2           4.0

[5 rows x 158 columns]

In [53]:
X_test_encoded.head()

      hotel_Resort Hotel  hotel_City Hotel  ...  total_nights_stay  total_guests
9775                   1                 0  ...                  1           2.0
9776                   1                 0  ...                  4           2.0
9777                   1                 0  ...                  4           2.0
9778                   1                 0  ...                  4           2.0
9779                   1                 0  ...                  4           1.0

[5 rows x 158 columns]

#Use scikit-learn to fit a linear regression or ridge regression model

In [ ]:
# Import the appropriate estimator from Scikit-Learn
from sklearn.linear_model import LinearRegression

# Instantiate this class
lr = LinearRegression()

#Fit model to data
lr.fit(X_train_encoded, y_train)

#Apply data
y_pred = lr.predict(X_val_encoded)

    ValueError                                Traceback (most recent call last)
    <ipython-input-54-70dd8b84eec3> in <module>()
          6 
          7 #Fit model to data
    ----> 8 lr.fit(X_train_encoded, y_train)
          9 
        10 #Apply data

    3 frames
    /usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py in _assert_all_finite(X, allow_nan, msg_dtype)
        58                     msg_err.format
        59                     (type_err,
    ---> 60                      msg_dtype if msg_dtype is not None else X.dtype)
        61             )
        62     # for object dtype data, we only check for NaNs (GH-13254)

    ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [61]:
X_train_encoded.isnull().sum().sort_values(ascending=False)

agent                 3099
country_ISR              0
country_ZAF              0
country_TUR              0
country_LTU              0
                      ...
country_PAN              0
country_IRQ              0
country_MMR              0
country_LIE              0
hotel_Resort Hotel       0
Length: 158, dtype: int64

In [62]:
print('Recieved an error message. Column `agent` contains 3099 NaN values. Explore.')

Recieved an error message. Column `agent` contains 3099 NaN values. Explore.

In [63]:
# Is agent important to the dataset?
# Column represents the agent ID that made the booking.
X_train_encoded['agent'].nunique()

161

In [ ]:
print('Added `agent` to the wrangle drop listand removed from features list.')

#Report validation MAE and  R2

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

#Metrics:

print('MAE:', mean_absolute_error(y_val, y_pred))
print('R2:', r2_score(y_val, y_pred))

#5. Conclusion

Report your findings